@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap')

html, body {
	width: 100%;
	margin: 0 auto;
	padding: 0;
	font-family: Roboto, sans-serif;
}

body {
	background: linear-gradient(to right, black, grey);
	background-size: 100% 300%;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.page {
	width: 360px;
	padding: 0;
	margin: 0 auto;
}

.header {
	width: 360px;
	height: 200px;
	background-image: url('bg.png');
	background-size: 100% 200%;
	background-repeat: no-repeat;
	border-radius: 15px 15px 0 0;
	position: relative;
}

.clear {
	width: 30px;
	height: 30px;
	position: absolute;
	right: 20px;
	top: 20px;
}

.clear i {
	font-size: 30px;
	color: white;
}

.clear i:hover {
	cursor: pointer;
	text-shadow: 1px 3px 5px black;
	transform: rotate(45deg);
}

#date {
	position: absolute;
	bottom: 10px;
	left: 10px;
	color: white;
	font-size: 25px;
	font-family: Roboto, sans-serif;
}

h1 {
	text-align: center;
	padding-top: 70px;
	font-size: 50px;
	color: white;
}

#inputField {
	width: 304px;
	height: 46px;
	border: 1px solid black;
	outline: none;
	font-size: 25px;
	vertical-align: middle;
	background-color: white;
}

#addToDo {
	height: 50px;
	width: 50px;
	border: 1px solid black;
	vertical-align: middle;
	font-size: 30px;
	background-color: white;
}

.toDO {
	margin-top: 25px;
}

.paragraph {
	margin: 0;
	cursor: pointer;
	font-size: 20px;
	padding: 5px;
	color: white;
	border: 1px solid white;
}
